* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  color: #5a596d;
  background: white;
}


  h1{
    font-weight: 300;
    margin: .7rem 1rem;
    color: white;
  }

h2{
  font-weight: 300;
  text-align: center;
}

h3{
  font-weight: 300;
}

legend{
  display: none;
}

button{
  display: flex;
  border-style: none;
  background: none;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*-------------- Header ------------------*/

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  height: auto;
  background-color: #2E7581;
  }

.rightside_header{
  display: flex;
  align-items: center;
  margin: .7rem 0;
  color: white;
}

.main_profile{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.main_profile img{
  height: 50px;
  margin: 0 1rem;
  border-radius: 50%;
}

.bell_icon{
  display: flex;
  align-items: center;
  height: 75%;
  width: auto;
  border-right: solid 1px #4f53b8;
}

.bell_icon img{
    height: 40px;
}

/*---------------Main Content----------*/


/*----Navigation----------*/

.nav{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  background: #2A5F67;
}

nav li a{
  display: flex;
  align-items: center;
}

nav li img{
  height: 40px;
  margin: 1.6rem 0 1.3rem 0;
}

.active_menu{
  border-bottom: solid .3rem #C0B76B;
  border-radius: 5%;
}

/*----Dashboard and Search----------*/

.Titel_area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search{
  display: flex;
  justify-content: center;
  padding: 0.3rem;

}

.search fieldset {
  width: 100%;
  padding: 2px;
  border: solid 2px #2E7581;
  border-radius: 6px;
}

input[name="Search_bar"]{
  flex-grow: 1;
  border-style: none;
  height: 3.5rem;
  padding: 1rem;
}

input:focus,
fieldset:focus{
  border-bottom: dashed 3px orange;
  color: black;
  background-color: white;
}

.search img{
  height: 2rem;
  opacity: .3;
}

.search_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*----alert----------*/

.alert{
  display: flex;
  justify-content: center;
  width: 86%;
  color: white;
  background: #B42867;
  border-radius: 5px;
}

.alert_text{
  padding: 1rem;
  margin: .3rem;
}

button[name="close_button"]{
  margin: 1rem;
}

/*-------chart------*/

.traffic_chart_wrapper,
.daily_chart_wrapper,
.mobile_users_chart_wrapper
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.traffic_chart_wrapper h3,
.Daily_chart_wrapper h3,
.mobile_users_chart_wrapper{
  width: 100%;
  text-align: center;
}

.traffic_chart_wrapper button{
  margin: 1rem .3rem;
}

/*-------Social Stats------*/

.SoMe_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 5%;
  padding: 0 1rem;
  background-color: #ddd;
  border-radius: 5px;
}

.SoMe_Icon_wrapper{
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #2E7581;
}

.SoMe_Icon_wrapper img{
  height: 1.7rem;
  align-self: center;
}

.SoMe_Text{
  flex-grow: 1;
}

.SoMe_wrapper h3{
  font-weight: bold;
  margin: 1rem 20% 0 20%;
}

.SoMe_wrapper p{
  font-weight: 300;
  font-size: 3.5rem;
  margin: 0 0 0 10%;
}
/*----Media 7xxpx ----

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 70px;
  background-color: #2E7581;
  }

.rightside_header{
  display: flex;
  align-items: center;
  color: white;
}

.main_profile{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.main_profile img{
  height: 50px;
  margin: 0 1rem;
  border-radius: 50%;
}

.bell_icon{
  display: flex;
  align-items: center;
  height: 75%;
  width: auto;
  border-right: solid 1px #4f53b8;
}

.bell_icon img{
    height: 40px;
}


.nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  flex-direction: row;
  color: white;
  background: #2A5F67;
}

nav li a{
  margin: 0 2rem;
  display: flex;
  align-items: center;
}

nav li img{
  height: 60px;
}
