* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  color: #5a596d;
  background: white;
}


  h1{
    font-weight: 300;
    margin: .7rem 1rem;
    color: white;
  }

h2{
  font-weight: 300;
  text-align: center;
}

h3{
  font-weight: 300;
  text-align: center;
}

legend{
  display: none;
}

button{
  display: flex;
  border-style: none;
  background: none;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

 fieldset{
    border-style: none;
 }

article{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*-------------- Header ------------------*/

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  height: auto;
  background-color: #2E7581;
  }

.rightside_header{
  display: flex;
  align-items: center;
  margin: .7rem 0;
  color: white;
}

.main_profile{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.main_profile img{
  height: 50px;
  margin: 0 1rem;
  border-radius: 50%;
}

.bell_icon{
  display: flex;
  align-items: center;
  height: 75%;
  width: auto;
  border-right: solid 1px #2A5F67;
}

.bell_icon img{
    height: 40px;
}

/*---------------Main Content----------*/


/*----Navigation----------*/

.nav{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  background: #2A5F67;
}

nav li a{
  display: flex;
  align-items: center;
}

nav li img{
  height: 40px;
  margin: 1.6rem 0 1.3rem 0;
}

.active_menu{
  border-bottom: solid .3rem #C0B76B;
  border-radius: 5%;
}

/*----Dashboard and Search----------*/

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Titel_area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 2;
}

.Title_and_search{
  width: 95%;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;

}

.search fieldset {
  width: 100%;
  padding: 2px;
  border: solid 2px #2E7581;
  border-radius: 6px;
}

input[name="Search_bar"]{
  flex-grow: 1;
  border-style: none;
  height: 3.5rem;
  padding: 1rem;
}

input:focus,
fieldset:focus{
  border-bottom: dashed 3px orange;
  color: black;
  background-color: white;
}

.search img{
  height: 2rem;
  opacity: .3;
}

.search_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*----alert----------*/

.alert{
  display: flex;
  justify-content: center;
  width: 95%;
  color: white;
  background: #B42867;
  border-radius: 5px;
}

.alert_text{
  padding: 1rem;
  margin: .3rem;
}

button[name="close_button"]{
  margin: 1rem;
}


/*-------chart------*/

.traffic_chart_wrapper,
.daily_chart_wrapper,
.mobile_users_chart_wrapper
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.traffic_chart_wrapper h3,
.daily_chart_wrapper h3,
.mobile_users_chart_wrapper h3{
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}

.buttons_traffic{
  display: flex;
}

.traffic_chart_wrapper button{
  margin: 1rem .3rem;
}

/*-------Social Stats------*/

.SoMe_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 1rem 2.5%;
  padding: 0 1rem;
  background-color: #ddd;
  border-radius: 5px;
}

.SoMe_Icon_wrapper{
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #2E7581;
}

.SoMe_Icon_wrapper img{
  height: 1.7rem;
  align-self: center;
}

.SoMe_Text{
  flex-grow: 1;
}

.SoMe_wrapper h3{
  font-weight: bold;
  margin: 1rem 20% 0 20%;
  color: #2E7581;
}

.SoMe_wrapper p{
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
  margin: 0 0 0 10%;
}

.social_stats_title{
  margin-top: 3rem;
}

/*-------New Members------*/

.new_members h3{
  margin-top: 3rem;
}

.member{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 1rem 2.5%;
  border-bottom: solid 1px #2A5F67;
}

.member img{
    height: 5rem;
    width: 5rem;
    margin: 0 30%;
    border-radius: 50%;
}

.member p{
  text-align: center;
  margin: 1rem 20%;
}




/*-------Recent activity------*/


.recent_activity h3{
  margin-top: 3rem;
}

.activity_member{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  margin: 1rem 2.5%;
  border-bottom: solid 1px #2A5F67;
}

.activity_member img{
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 40%;
    border-radius: 50%;
}

.activity_member p{
  font-size: .9rem;
  text-align: left;
  margin: 1rem 0;
}

.arrow_left{
  display: flex;
  align-items: center;
}

.arrow_left img{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 30%;
}

/*----Search/Message users----------*/

.message_user{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
margin: 1rem 2.5%;
}

.message_user h3{
  margin-top: 3rem;
}

.message_user form{
 width: 95%;
 border-bottom: solid 1px #2A5F67;
}

.message_user fieldset{
  margin: 0;
  padding: 0;
}

.message_user_form input[name="search_user"]{
  width: 100%;
  height: 5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: solid 2px #2A5F67;
  border-radius: 6px;
}

.message_user_form textarea{
  width: 100%;
  height: 11rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: solid 2px #2A5F67;
  border-radius: 6px;
}

.btn_submit_cancel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  margin: 0 0 3rem 0;
  background-color: #2A5F67;
  color: white;
  border-radius: 6px;
}

.btn_submit_cancel:active{
  background-color: #B42867;
}

/*----Settings----------*/

.footer{
  width: 95%;
  margin: 1rem 2.5%;
}

.e-mail_note_wrapper,
.profile_public_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B42867;
  border: solid 3px #2E7581;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 1px;
  bottom: 1px;
  background-color: #C0B76B;
  z-index: 5;
  -webkit-transition: .4s;
  transition: .4s;
}


.onoffswitch-inner:before {
    position: absolute;
    top: 2px;
    left: 8px;
    content: "ON";
    color: white;
}


.switch input:checked + .slider {
  background-color: #2E7581;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#select_timezone{
  width: 100%;
  height: 3rem;
  border: solid 2px #2A5F67;
  border-radius: 6px;
  appearance: none;
  padding: 0 1rem;
  margin-bottom: 2rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../icons/arrow_down.svg") no-repeat scroll 98%  transparent;
  background-size: 1.4rem;
  overflow: hidden;
}

#select_label{
  font-weight: bold;
}

.buttons_save_submit{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttons_save_submit .btn_submit_cancel{
  width: 45%;
}

@media (min-width: 768px) {

header{
  justify-content: space-between;
}

/*---- Search ----*/

.Title_and_search {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search{
  width: 75%;
  justify-content: flex-end;
  background: #eee;
  margin-bottom: 1rem;
  border-bottom: solid 1px #2E7581;
  border-left: solid 1px #2E7581;
}

.search fieldset{
  width: auto;
  background-color: white;
  margin-right: 5%;
}

.Title_and_search h2{
  margin-left: 5%;
}

button[name="close_button"] {
    margin: 0;
    text-align: left;
  }

  /*-------overall order and wrapping for Charts and Stats------*/

  .traffic_chart_wrapper{
    width: 95%;
    margin: 3rem 0 2rem 0;
  }

  .daily_chart_wrapper,
  .mobile_users_chart_wrapper,
  .new_members,
  .recent_activity,
  .message_user,
  .footer
  {
    width: 45%;
    margin: 0 0 2rem 0;
  }

  /*-------traffic_chart_wrapper------*/

  .traffic_chart_wrapper h3{
      flex-grow: 1;
      width: 50%;
      margin: auto;
      text-align: left;
    }

  .buttons_traffic{
      flex-grow: 1;
      width: 50%;
      justify-content: flex-end;
    }

    .traffic_chart_wrapper button{
      margin: 2rem 0 2rem 1rem;
    }

  .border_h{
    width: 100%;
    height: 1px;
    background-color: #2E7581;
  }

  .border_v {
    height: auto;
    width: 1px;
    background-color: #2E7581;
  }

  .daily_chart_wrapper h3,
  .mobile_users_chart_wrapper h3{
    text-align: left;
  }

  /*-------SoMe Stats------*/

.social_stats{
  width: 95%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.social_stats h3{
  flex: 3 100%;
  text-align: left;
}

.SoMe_wrapper{
  margin: 0;
  width: 30%;
  justify-content: center;
  padding-bottom: 1rem;
}

.SoMe_Text h3,
.SoMe_Text p{
  text-align: center;
  margin: 0;
}

.SoMe_Icon_wrapper{
  margin: 1rem;
}

/*-------members------*/

.new_members h3,
.recent_activity h3,
.message_user h3,
.footer h3{
  width: 100%;
  text-align: left;
}

.member {
  width: 100%;
  margin: 0 0 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.member img,
.recent_activity img{
  margin: 0 1rem 1rem 0;
}

.recent_activity button img{
  margin: 0 0 1rem 0;
}

.member p{
  text-align: left;
  margin: 0;
}

.activity_member{
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}

/*-------message user------*/

  .message_user,
  .footer{
    align-items: stretch;
  }

  .message_user{
    border-style: none;
  }

  .message_user form,
  .footer form{
    height: 21rem;
    border-style: none;
    width: 100%;
    margin: 0;
  }

.message_user_form input[name="search_user"]{
  height: 4rem;
}

.message_user_form textarea {
  height: auto;
}

  .footer h3{
    margin-top: 3rem;
  }

  .settings fieldset{
    padding: 0;
    margin: 0;
  }

  #select_timezone{
  height: 4rem;
  margin-bottom: 2.4rem;
  }

}


@media (min-width: 1024px) {

.main_profile{
  margin-right: 2rem;
}

h1{
  margin-left: 2rem;
}

  #main {
    display: flex;
  }

main nav{
  display: flex;
  flex: 1 10%;
}

.container{
  flex: 3 90%;
}

.nav{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

.nav li{
  display: flex;
  justify-content: center;
  width: 100%;
}

.active_menu{
  border-bottom: 0;
  border-left: solid .3rem #C0B76B;
}

/*-------Title and Search------*/

.alert {
  justify-content: space-between;
}

.alert button p{
  padding-right: 1rem;
}


/*-------traffic_chart_wrapper------*/

.buttons_traffic .active_menu{
    border-left: 0;
  border-bottom: solid .3rem #C0B76B;
  border-radius: 5%;
}

/*------social_stats------*/

.SoMe_wrapper{
  padding: 1rem;
}

.SoMe_Text h3, .SoMe_Text p{
  text-align: left;
}

.member_name_mail{
  flex-grow: 2;
}

.activity_member p{
  flex-grow: 2;
}

}

/*----Media 7xxpx ----

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 70px;
  background-color: #2E7581;
  }

.rightside_header{
  display: flex;
  align-items: center;
  color: white;
}

.main_profile{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.main_profile img{
  height: 50px;
  margin: 0 1rem;
  border-radius: 50%;
}

.bell_icon{
  display: flex;
  align-items: center;
  height: 75%;
  width: auto;
  border-right: solid 1px #4f53b8;
}

.bell_icon img{
    height: 40px;
}


.nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  flex-direction: row;
  color: white;
  background: #2A5F67;
}

nav li a{
  margin: 0 2rem;
  display: flex;
  align-items: center;
}

nav li img{
  height: 60px;
}
